name: "Deploy to EKS"

on:
  push:
    branches: [main]

env:
  AWS_REGION: us-east-2
  EKS_CLUSTER: eks-banca-ecosistema
  
  # CONFIGURACIÓN ESPECÍFICA PARA MS-DIRECTORIO
  NAMESPACE: switch
  ECR_REPO: switch-ms-directorio
  SERVICE_NAME: switch-ms-directorio

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Configurar AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Login a ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Build y Push imagen
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/${{ env.ECR_REPO }}:$IMAGE_TAG .
          docker push $ECR_REGISTRY/${{ env.ECR_REPO }}:$IMAGE_TAG
          echo "IMAGE=$ECR_REGISTRY/${{ env.ECR_REPO }}:$IMAGE_TAG" >> $GITHUB_ENV
      
      - name: Configurar kubectl
        run: aws eks update-kubeconfig --name ${{ env.EKS_CLUSTER }} --region ${{ env.AWS_REGION }}
      
      - name: Desplegar a EKS
        run: |
          kubectl set image deployment/${{ env.SERVICE_NAME }} \
            ${{ env.SERVICE_NAME }}=${{ env.IMAGE }} \
            -n ${{ env.NAMESPACE }}
          kubectl rollout status deployment/${{ env.SERVICE_NAME }} \
            -n ${{ env.NAMESPACE }} --timeout=300s
